<div class="sticky-top">
  <h1 class="d-none d-sm-block mt-2">
    <%= link_to "Lurker", root_path %>
  </h1>
  <% @accounts.each do |account| %>
    <div class="row my-4">
      <%= link_to account_path(account.id), class:'col-12 d-flex' do %>
        <div class="account-list__image mr-2">
          <img src="<%= account.profile_image_url %>"
              class="rounded-circle
              <%= 'account-list__image--active' if @account && account.id == @account.id %>"
          >
          <span class="badge badge-info account-list__badge">
            <%= account.unread_count %>
          </span>
        </div>
        <span class="d-none d-sm-block">
          <%= account.name %>
        </span>
      <% end %>
    </div>
  <% end %>
</div>
