<div class="row">
  <div class="col-2">
    <%= render partial: "components/account-list" %>
  </div>

  <div class="col-10">
    <h3 class="mt-2">The anonymous Twitter reader</h3>

    <ul class="list-unstyled">
      <li>
        <%= link_to '[Refresh all]', '' %>
      </li>
      <li>
        <%= link_to '[Starred tweets]', starred_tweets_path %>
      </li>
      <li>
        <%= link_to '[Add new account]', new_account_path %>
      </li>
      <li>
        <%= link_to '[Settings]', '' %>
      </li>
    </ul>

    <h4>What is this?</h4>
    <p>
      Think RSS reader + Twitter + Discord layout.
      <br>
      Read Twitter accounts chronologically, with an 'unread' tweet counter.
      <br>
      There are interesting people on Twitter, but reading the main timeline is maddening, because everything is thrown together by an algorithm. That's what makes it stressful and addictive.
      <br>
      This sorts things out, read only what you find interesting.
      <br>
      Manual refresh of content and pagination will make you read less, saving you time.
      <br>
      No infinite scroll time sink.
    </p>

    <h4>Note:</h4>
    <ul>
      <li>
        This is a very early build!
      </li>
      <li>
        UI elements are unresponsive.
      </li>
      <li>
        Don't go ham on refreshing tweets, as the app will get rate-limited.
      </li>
      <li>
        There are no users yet, so everyone's editing this same page.
      </li>
      <li>
        Feel free to click around.
      </li>
    </ul>

    <h4>Todo:</h4>
    <ul>
      <li>
        Limit number of fetched tweets
      </li>
      <li>
        Fetch tweets by maxID
      </li>
      <li>
        Validation and errors
      </li>
      <li>
        Handle private accounts
      </li>
      <li>
        Progress bars
      </li>
      <li>
        Scrollable account list
      </li>
      <li>
        Parse URLs in tweet text
      </li>
      <li>
        Unread icon / toggle button
      </li>
      <li>
        Archive accounts (with warning, ability to add them back)
      </li>
      <li>
        Mark all as read
      </li>
      <li>
        Refresh all accounts
      </li>
      <li>
        Filter replies
      </li>
      <li>
        Sort account list by unread
      </li>
      <li>
        Parse @username (open twitter)
      </li>
      <li>
        Ability to set API keys (User model)
      </li>
      <li>
        Search
      </li>
      <li>
        Make local copy of media (images), to prevent loss after tweet deletion. Make this an option in settings?
      </li>
      <li>
        Sidekiq?
      </li>
      <li>
        Export function?
      </li>
      <li>
        Groups of accounts? Tags?
      </li>
      <li>
        Make repo public
      </li>
      <li>
        Electron app? (figure out local db)
      </li>
    </ul>
  </div>
</div>
