<div class="row">
  <div class="col-2">
    <%= render partial: "components/account-list" %>
  </div>

  <div class="col-10">
    <h3 class="mt-4">The anonymous Twitter client</h3>

    <ul class="list-unstyled">
      <li>
        <%= link_to '[Refresh all]', '' %>
      </li>
      <li>
        <%= link_to '[Starred tweets]', starred_tweets_path %>
      </li>
      <li>
        <%= link_to '[Add new account]', new_account_path %>
      </li>
      <li>
        <%= link_to '[Settings]', '' %>
      </li>
    </ul>

    <h4>Todo:</h4>
    <ul>
      <li>
        Remove API keys from codebase
      </li>
      <li>
        Limit number of fetched tweets
      </li>
      <li>
        Populate tweets after adding account (limited number)
      </li>
      <li>
        Progress bars
      </li>
      <li>
        Scrollable account list
      </li>
      <li>
        Redirects and UI refreshes after actions
      </li>
      <li>
        Parse URLs in tweet text
      </li>
      <li>
        Style + button
      </li>
      <li>
        Unread icon / toggle button
      </li>
      <li>
        Removal of accounts (with warning)
      </li>
      <li>
        Mark all as read
      </li>
      <li>
        Refresh all accounts
      </li>
      <li>
        Filter replies
      </li>
      <li>
        Sort account list by unread
      </li>
      <li>
        Parse @username (open twitter)
      </li>
      <li>
        Ability to set API keys (User model)
      </li>
      <li>
        Search
      </li>
      <li>
        Sidekiq?
      </li>
      <li>
        Export function?
      </li>
      <li>
        Groups of accounts? Tags?
      </li>
      <li>
        Electron app? (figure out local db)
      </li>
    </ul>
  </div>
</div>
