<div class="row">
  <div class="col-2">
    <%= render partial: "components/account-list" %>
  </div>

  <div class="col-10">
    <h3 class="mt-4">Add a new account</h3>

    <%= form_with(url: accounts_path, method: "post") do %>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= label_tag :username, "Twitter username:" %>
          <%= text_field_tag :username, nil, class: "form-control", placeholder: "@" %>
        </div>
      </div>
      <%= submit_tag "Add", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
