<div class="row">
  <div class="col-2">
    <%= render partial: "components/account-list" %>
  </div>

  <div class="col-10">
    <h3 class="mt-4">Add a new account</h3>

    <%= form_with(url: accounts_path, method: "post") do %>
      <%= label_tag(:username, "Username:") %>
      <%= text_field_tag(:username) %>
      <%= submit_tag("Add") %>
    <% end %>
  </div>
</div>
