<div class="row">
  <div class="col-2">
    <%= render partial: "components/account-list" %>
  </div>

  <div class="col-10">
    <% if @account %>
      <h3 class="mt-4">
        <%= link_to @account.name, @account %>
      </h3>
      <ul class="list-inline">
        <li>
          <%= link_to @account do %>
            [all]
          <% end %>
        </li>
        <li>
          <%= link_to refresh_tweets_account_path(@account), method: 'post', remote: true do %>
            [refresh]
          <% end %>
        </li>
        <li>
          <%= link_to starred_account_path(@account)do %>
            [starred]
          <% end %>
        </li>
        <li>
          <%= link_to unread_account_path(@account)do %>
            [unread]
          <% end %>
        </li>
        <li>
          <%= link_to media_account_path(@account)do %>
            [media]
          <% end %>
        </li>
        <li>
          <%= link_to @account.url do %>
            [open]
          <% end %>
        </li>
        <li>
          <%= link_to "" do %>
            [mark all read]
          <% end %>
        </li>
        <li>
          <%= link_to "" do %>
            [remove]
          <% end %>
        </li>
      </ul>
    <% else %>
      <h3 class="mt-4">Starred tweets</h3>
    <% end %>

    <% @tweets.each do |tweet| %>
      <%= render partial: "components/tweet", locals:{tweet: tweet} %>
    <% end %>

    <div class="row">
      <div class="col-12 text-center">
        <%= paginate @tweets %>
      </div>
    </div>

    <% unless @tweets.present? %>
      <p>
        No Tweets.
      </p>
    <% end %>
  </div>
</div>
